<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="eTrgovina JKMN">
    <meta name="author" content="Matic & Jakob">
    <link rel="icon" href="http://www.makro.si/favicon.ico">

    <title> - eTrgovina</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- MetisMenu CSS -->
    <link href="../static/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="shop">
        <div id="logo"></div>
        </a>
    </div>
    <!-- /.navbar-header -->

    <section id="login">
        <ul class="nav navbar-top-links navbar-right">
            <li><a href="customerpanel"><i class="fa fa-user fa-fw"></i></a></li>
            <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i></a></li>
        </ul>
    </section>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="customerpanel"><span><i class="fa fa-user fa-fw"></i> Upravljaj račun</span></a>
                </li>
                <li>
                    <a href="shop"><span><i class="fa fa-laptop fa-fw"></i> Trgovina</span></a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-share-alt fa-fw"></i> Upravljaj s prodajalci<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a href="prodajalci">Pregled</a></li>
                        <li><a href="adminpanel?id=-1">Dodaj prodajalca</a></li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-users fa-fw"></i> Upravljaj s strankami<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a href="sellerpanel?manage">Pregled</a></li>
                        <li><a href="sellerpanel?id=-1">Dodaj stranko</a></li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-cubes fa-fw"></i> Upravljaj s produkti<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a href="#">Pregled</a></li></li>
                        <li><a href="#">Dodaj produkt</a></li></li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><span><i class="fa fa-book fa-fw"></i> Naročila</span></a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
    vsebina tle
</div>

<footer>
    <div class="panel-footer noga">
        <a href="http://www.makro.si" title="Izvedba : Makro.si" target="_blank">
            <div id="makro-izvedba">
                <div id="makro-podpis"></div>
            </div>
        </a>
        <div id="fri-izvedba">
            &copy; FRI UNI 2015/16
        </div>
    </div>
</footer>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../static/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/js/sb-admin-2.js"></script>
</body>

</html>